.shef-problems-container
{
	margin: 10px 0;
	font-size: 9pt;
	overflow: hidden;
}

.shef-problems-container > div
{
	order: 1;
	padding: 6px 8px;
	overflow: hidden;
}

.shef-problems-container > pre
{
	order: 0;
	margin: 0;
	padding: 8px;
	background-color: var(--sh-pre-bg, black);
	color: var(--sh-pre-color, lawngreen);
	overflow: hidden;
}

.shef-problems-container > div,
.shef-problems-container[data-level="DEBUG"] > div
{
	color: var(--bs-body-color, #535c69);
	background: var(--bs-light-info, #F8F5FF);
}

.shef-problems-container[data-level="INFO"] > div
{
	color: var(--bs-body-color, #535c69);
	background: var(--bs-light-dark, #EFF2F5);
	
}

.shef-problems-container[data-level="NOTICE"] > div
{
	color: var(--bs-body-color, #535c69);
	background: var(--bs-warning, #FFC700);
}

.shef-problems-container[data-level="WARNING"] > div
{
	color: var(--bs-body-color, #535c69);
	background: var(--bs-active-warning, #F1BC00);
}

.shef-problems-container[data-level="ERROR"] > div
{
	color: var(--bs-light-primary, #F1FAFF);
	background: var(--bs-danger, #F1416C);
}

.shef-problems-container[data-level="CRITICAL"] > div,
.shef-problems-container[data-level="ALERT"] > div,
.shef-problems-container[data-level="EMERGENCY"] > div
{
	color: var(--bs-light-primary, #F1FAFF);
	background: var(--bs-active-danger, #D9214E);
}

@supports (display: flex)
{
	.shef-problems-container
	{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		
		border-radius: var(--ui-border-radius-md, 10px);
	}
	
	.shef-problems-container > div
	{
		border-bottom-left-radius: var(--ui-border-radius-md, 10px);
		border-bottom-right-radius: var(--ui-border-radius-md, 10px);
		
	}
	
	.shef-problems-container > pre
	{
		border-top-left-radius: var(--ui-border-radius-md, 10px);
		border-top-right-radius: var(--ui-border-radius-md, 10px);
	}
	
	/* @See https://developer.mozilla.org/en-US/docs/Web/CSS/@container */
	#workarea {
		container: b24workarea / inline-size;
	}
	
	#sh-template
	{
		container: b24workarea / inline-size;
	}
	
	@container b24workarea (min-width: 900px)
	{
		.shef-problems-container
		{
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: stretch;
			
			width: 100%;
		}
		
		.shef-problems-container > div
		{
			border-bottom-left-radius: initial;
			border-top-right-radius: var(--ui-border-radius-md, 10px);
			border-bottom-right-radius: var(--ui-border-radius-md, 10px);
			
			width: 70%;
		}
		
		.shef-problems-container > pre
		{
			border-top-right-radius: initial;
			border-top-left-radius: var(--ui-border-radius-md, 10px);
			border-bottom-left-radius: var(--ui-border-radius-md, 10px);
			
			width: 100%;
		}
	}
}